<!-- Footer -->
<footer class="sticky-footer bg-white mt-5">
    <div class="container">
        <div class="copyright text-center my-auto">
            <span>Mentions Légales &copy; Pharmastock 2023</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->