// customize some Bootstrap variables
//$primary: darken(#428bca, 20%);
$primary: #02590F;
$primary-accent : #037032;
$secondary: #BEE6D4;
$secondary-accent:  #C0D9BF;
$success:   #05996F;
$success-accent:   #038C17;

//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-900 !default;
$body-bg: #f8f9fa;


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~select2/dist/css/select2.css";

//***************************** common *****************************//
li.active{
    background-color: $primary;
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
//***************************** Btn ******************************//
.btn {
    border : none;
}
.btn-primary:hover {
    color: #fff;
    background-color: $primary-accent;
    border: none $primary-accent;
}
.btn-primary:active{
    background-color: $primary;
    border: none;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: $primary-accent;
    border: none $primary-accent;
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: $primary-accent;
    border: none $primary-accent;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $primary;
    border: none $primary;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-secondary {
    color: darkslategrey;
    background-color: $secondary;
    border: none $secondary;
}

.btn-secondary:hover {
    color: darkslategrey;
    background-color: $secondary-accent;
    border: none $secondary-accent;
}

.btn-secondary:focus, .btn-secondary.focus {
    color: darkslategrey;
    background-color: $secondary-accent;
    border: none $secondary-accent;
    box-shadow: 0 0 0 0.2rem rgba(151, 153, 166, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: darkslategrey;
    background-color: $secondary-accent;
    border: none $secondary-accent;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: darkslategrey;
    background-color: $secondary;
    border: none $secondary;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(151, 153, 166, 0.5);
}

.btn-success {
    color: #fff;
    background-color: $success;
    border: none $success;
}

.btn-success:hover {
    color: #fff;
    background-color: $success-accent;
    border: none $success-accent;
}

.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: $success-accent;
    border: none $success-accent;
    box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: $success-accent;
    border: none $success-accent;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: $success;
    border: none $success;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
}


.btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-circle.btn-sm, .btn-group-sm > .btn-circle.btn {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 0.75rem;
}
//***************************** Navbar ***************************//
.spaced-navbar .nav-item {
    margin-right: 5rem;
}
.bg-gradient-primary {
    background-color: #02590F;
    background-image: linear-gradient(180deg, #02590F 10%, #038C17 100%);
    background-size: cover;
}
.active-page{
    background-color: $primary;
}
//***************************** Produit *************************//

//********** Produit index page *********//
.card-produit-index {

    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }
}



//**************************** Footer *************************//
