{% extends 'base.html.twig' %}

{% block title %}Edit TailleCommande{% endblock %}

{% block body %}
    <h1>Edit TailleCommande</h1>

    {{ include('taille_commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_taille_commande_index') }}">back to list</a>

    {{ include('taille_commande/_delete_form.html.twig') }}
{% endblock %}
